body {
    font-family: 'Press Start 2P', cursive;
    margin: 0;
    background-color: var(--branco_fundo);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
    width: 100%;
    color: var(--textos_rodape_bordas);
    overflow-x: hidden;
}
nav {
    margin-left: 8.5%;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 12px;
}

nav a.active {
    text-decoration: underline;
    color: var(--amarelo_destaques);
}

header {
    background-color: var(--azul_cabecalho);
    position:fixed;
    color: white;

    width: 100%;
    padding: 10px;
    z-index: 4;
    text-align: center;
    opacity: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botoes_login button {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    padding: 5px 10px;
    background-color: var(--amarelo_destaques);
    color: var(--textos_rodape_bordas);
    border: 2px solid var(--vermelho_pokebola);
    border-radius: 5px;
    cursor: pointer;
}

.botoes_login {
    display: flex;
    gap: 10px;
}

.main {
    margin-top: 8.5%;
    font-family: 'Poppins';
    text-align: center;
    justify-content: space-around;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: var(--textos_rodape_bordas);
}


footer {
    display: flex;
    color: var(--branco_fundo);
    margin-top: auto;
    background-color: var(--textos_rodape_bordas);
    padding: 10px;
    font-size: 10px;
    width: 100%;
    margin-left: 20px;
    height: 50px;
    align-items: center;
    justify-content: center;
}

.pikachuDestaque {
    color: var(--amarelo_destaques);
}

.mestrePokemon {
    color: var(--vermelho_pokebola);
}

.textoPokemons {
    color: var(--branco_fundo);
}

.banner {
    width: 100%;
    height: 750px;
    position: relative;
    margin-bottom: -114px;
}

.video {
    width: 100%;
    height: 102%;
    opacity: 0.7;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    z-index: 1;
}

.escurecedor {
    position: absolute; 
    width: 100%;
    height: 100%;
    z-index: 2;
}

.navpoke {
    display: flex;
    flex-direction: row;
    position: relative;
    left: 275px;
    bottom: 200px;
    z-index: 3;
    width: 1000px;
    justify-content: space-between;
}

#navpokeball:hover {
    color: var(--amarelo_destaques);
}

#navpokeball{
    color: var(--branco_fundo);
}

.navpoke a {
    width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.navpoke img {
    width: 175px;
}

.conteudo {
    position: relative; 
    z-index: 3;
    width: 100%;
    height: 102%;
    background-color: rgba(10,23,55,0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.conteudo p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 50px;
    width: 33%;
    border-radius: 50px;
}

.pokeball {
    width: 70px;
    height: 70px;
    background-image: url(../assets/pokearena.png);
    background-size: cover;
}

.textoPixel {
    font-family: 'Press Start 2P', cursive;
}

.normal {
    background-color:var(--normal);
    color: white; 
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.lutador {
    background-color:var(--lutador);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.voador {
    background-color:var(--voador);
    color: white; 
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.venenoso {
    background-color:var(--venenoso);
    color: white; 
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.terrestre {
    background-color:var(--terrestre);
    color: white; 
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.pedra {
    background-color:var(--pedra);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.inseto {
    background-color:var(--inseto);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.fantasma {
    background-color:var(--fantasma);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.aco {
    background-color:var(--aco);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.fogo {
    background-color:var(--fogo);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.agua {
    background-color:var(--agua);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.planta {
    background-color:var(--planta);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.eletrico {
    background-color:var(--eletrico);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.psiquico {
    background-color:var(--psiquico);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.gelo {
    background-color:var(--gelo);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.dragao {
    background-color:var(--dragao);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}

.sombrio {
    background-color:var(--sombrio);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}
.fada {
    background-color:var(--fada);
    color: white;
    padding: 3px;
    margin: 1px;
    line-height: 20px;
    font-family: 'Press Start 2P';
}










:root{
    --normal:                #97a0a7;
    --lutador:               #ce416b;
    --voador:                #8cace4;
    --venenoso:              #b568ce;
    --terrestre:             #d97845;
    --pedra:                 #c5b78c;
    --inseto:                #91c12f;
    --fantasma:              #5269ad;
    --aco:                   #5a8ea2;
    --fogo:                  #ff9d55;
    --agua:                  #5090d6;
    --planta:                #63bc5a;
    --eletrico:              #f4d23c;
    --psiquico:              #fa7179;
    --gelo:                  #73cec0;
    --dragao:                #0b6dc3;
    --sombrio:               #595364;
    --fada:                  #ec8fe6;
    --amarelo_destaques:     #FFCB05;
    --azul_cabecalho:        #3d7dca;
    --vermelho_pokebola:     #D62828;
    --branco_fundo:          #F8F9FA;
    --fundo-cards:           #F3F3F3;
    --textos_rodape_bordas:  #2D2D2D;
}

@keyframes rodar1 {
    0% {
        transform: scaleX(-1) rotate(15deg);
    }
    20%{
        transform: scaleX(-1) rotate(0deg);
    }
    40%{
        transform: scaleX(-1) rotate(75deg);
    }
    60%{
        transform: scaleX(-1) rotate(0deg);
    }
    80%{
        transform: scaleX(-1) rotate(12deg);
    }
    100%{
        transform: scaleX(-1) rotate(15deg);
    }
}

@keyframes rodar2 {
    0% {
        transform: rotate(15deg);
    }
    20%{
        transform: rotate(0deg);
    }
    40%{
        transform: rotate(75deg);
    }
    60%{
        transform: rotate(0deg);
    }
    80%{
        transform: rotate(12deg);
    }
    100%{
        transform: rotate(15deg);
    }
}


@keyframes piscar {
    25% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    75% {
      opacity: 0;
    }
    100% {
        opacity: 1;
    }
  }

  @keyframes atacarInimigo {
    0% {
        transform: translate(0, 0);
        animation-timing-function: ease-out;
    }
    20%{
        transform: translate(-250px, -120px);
    }
    40% {
        transform: translate(-450px, 150px); 
        animation-timing-function: linear; 
    }
    45% {
        transform: translate(-450px, 150px);
    }
    65% {
        transform: translate(-250px, -120px);
    }
    100% {
        transform: translate(0, 0);
        animation-timing-function: ease-in; 
    }
}



@keyframes atacar {
    0% {
        transform: translate(0, 0);
        animation-timing-function: ease-in;
    }
    20%{
        transform: translate(250px, -180px);
        animation-timing-function: ease-in;
    }
    40% {
        transform: translate(450px, -150px); 
        animation-timing-function: linear; 
    }
    45% {
        transform: translate(450px, -150px);
        animation-timing-function: ease-in;
    }
    65% {
        transform: translate(250px, -180px);
        animation-timing-function: ease-in;

    }
    100% {
        transform: translate(0, 0);
        animation-timing-function: ease-in; 
    }
}