
#select_efetivo {
    padding: 20px;
    border-radius: 10px;
}

.resultadosEfetivos{
    width: 99%;
    height: 100%;
    display: flex;
    flex-direction: row;
    color: var(--textos_rodape_bordas);
    justify-content: space-around;
    align-items: center;
}

.resultadosEfetivos p {
    margin-top: 10px;
}

.supereficaz {
    background-color: var(--fundo-cards);
    padding: 10px 0px 0px 0px;
    margin-top: 10px;
    width: 20%;
    color: var(--textos_rodape_bordas);    
    height: auto;
    min-height: 330px;
    border-radius: 20px;
    font-family: 'Press Start 2P';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.fraquezas {
    background-color: var(--fundo-cards);
    padding: 10px 0px 0px 0px;
    width: 20%;
    color: var(--textos_rodape_bordas);
    height: auto;
    min-height: 330px;
    border-radius: 20px;
    font-family: 'Press Start 2P';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.resistente {
    background-color: var(--fundo-cards);
    padding: 10px 0px 0px 0px;
    width: 20%;
    color: var(--textos_rodape_bordas);
    height: auto;
    min-height: 330px;
    border-radius: 20px;
    font-family: 'Press Start 2P';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.imune {
    background-color: var(--fundo-cards);
    padding: 20px 0px 0px 0px;
    margin-top: 0px;
    width: 20%;
    color: var(--textos_rodape_bordas);
    height: auto;
    min-height: 330px;
    border-radius:20px;
    font-family: 'Press Start 2P';
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.bemvindo {
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.bemvindoss {
    background-color: var(--branco_fundo);
    width: 1000px;
    height: 100%;
    text-align: center;
}

.experimente {
    height: 120%;
    color: var(--branco_fundo);
    background-color: var(--vermelho_pokebola);
    width: 100vw;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#pokebatalha {
    margin-top: 50px;
    background: linear-gradient(var(--branco_fundo), var(--vermelho_pokebola), var(--vermelho_pokebola));
    height: 600px;
    width: 100%;
    display: flex;
    padding: 25px;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    align-items: center;
}


.umpoucosobre .ataque {
    background-color: var(--vermelho_pokebola);
    font-family: 'Press Start 2P';
    color: white;
    padding: 1px;
}

.umpoucosobre .bag {
    background-color: var(--amarelo_destaques);
    color: white;
    font-family: 'Press Start 2P';
    padding: 1px;
}

.umpoucosobre .trocar {
    background-color:darkgreen;
    color: white;
    padding: 1px;
    font-family: 'Press Start 2P';
}

.umpoucosobre .fugir {
    background-color: var(--azul_cabecalho);
    color: white;
    padding: 1px;
    font-family: 'Press Start 2P';
}

.alinhador {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    width: 100%;
    max-width: 600px;
}

.imagem {
    flex: 1 1 calc(50% - 20px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}


#pokebatalha img {
    width: 250px;
    height: 150px;
}

#poketipos {
    margin-top: -130px;
    background-color: var(--vermelho_pokebola);
    height: 900px;
    width: 100%;
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
}

#poketipos img {
    width: 100%;
    height: 100%;
}


h1 {
    margin-top: 10;
    font-size: 20px;
}

p {
    font-size: 15px;
    max-width: 500px;
    margin: auto;
}

.main .container {
    margin-top: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    background-color: var(--branco_fundo);
    width: 100%;
    gap: 20px; /* Espaço entre os itens */
}

.main .container div {
    width: 45%; /* Ajusta o tamanho dos itens para evitar sobrecarga */
}

div img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.selecionarTipo {
    overflow: hidden;
} 

.selecionarTipo option{
    padding: 3px 30px 3px 30px;
}
.umpoucosobre #pokeball1 {
    z-index: 1;
    position: absolute;
    max-height: 20%;
    width: 15%;
    left: 25px;
    top: 15px;
    animation: rodar1 2s infinite;
}
.umpoucosobre #pokeball2 {
    z-index: 1;
    position: absolute;
    max-height: 20%;
    width: 15%;
    right: 25px;
    bottom: 15px;
    animation: rodar2 2s infinite;
}

.umpoucosobre {
    position: relative;
    z-index: 2;
    padding: 3% 0px 3% 0px;
    display: flex;
    justify-content: space-around;
    align-items: space-around;
    flex-direction: column;
    border-radius: 15px;
    background-color: var(--fundo-cards);
}
.umpoucosobre p {
    font-size: 15px;

}

.container img {
    height: 500px;
}

.pokemonsfamosos {
    background-color: var(--vermelho_pokebola);
    width: 100%;
    padding: 5% 0px 0px 0px;
}

.alinhador2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.swiper img {
    width: 350px;
    height: 250px;
}

.swiper {
    width: 900px;
    height: 500px;
  }